.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Bree Serif;
  overflow-y: scroll;
}
.heading {
  color: #1e293b;
  font-size: 2.5rem;
}
.search-bar {
  border: 0.1rem solid #7b8794;
  border-radius: 0.5rem;
  display: flex;
  height: 2rem;
}
.input-bar {
  width: 15rem;
  height: 1.5rem;
  border-style: none;
  background-color: transparent;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}
.search-logo {
  width: 1.5rem;
}
.tabs-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 1rem;
}
.apps-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}
